@import url('https://fonts.googleapis.com/css?family=Roboto');

$breakpoint: 960px;
$nav-height: 3em;
$cubic-bezier: cubic-bezier(.7, .0, .6, 1);

@define-mixin container {
  max-width: $breakpoint;
  margin: 0 auto;
  @media (max-width: $breakpoint) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

html, body, h1, h2, p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #333;
}

body {
  overflow: overlay;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.page-header {
  position: sticky;
  top: 0;
  z-index: 10;
  #header-svg {
    z-index: -1;
    rect {
      x: 0;
      y: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @mixin container;
  > * {
    height: $nav-height;
  }
  h1 {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    a {
      display: flex;
      align-items: center;
      color: black;
      height: $nav-height;
    }
  }
  .right-nav {
    display: flex;
    a {
      display: flex;
      align-items: center;
      padding: 0 2.5em;
      color: #555;
      font-size: .9em;
    }
  }
}

.intro {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1.4em 0;
  text-align: center;
  transition: transform 1.8s $cubic-bezier;
  z-index: 1;
  @mixin container;
  &.up {
    transform: translateY(-38rem);
  }
  .hero {
    width: 100%;
    height: 14em;
    margin: 1.4em 0;
    text {
      font-family: Roboto, sans-serif;
      font-size: 16em;
      font-weight: 900;
      letter-spacing: 0.02em;
      text-anchor: middle;
      stroke: black;
      stroke-width: 3;
    }
    image {
      y: -100%;
    }
  }
  .tagline {
    font-size: 4em;
    font-weight: bold;
    margin: .3em 0;
  }
  .description {
    font-size: 1.4em;
    color: #555;
    max-width: 50%;
    margin: .3em 0;
  }
  button {
    margin-top: 1.3em;
    padding: 10px 14px;
    background-color: blue;
    border: none;
    border-radius: 4px;
    color: white;
    text-shadow: 1px 1px 4px black;
    cursor: pointer;
    &:hover, &:focus {
      outline: none;
    }
  }
}

.concepts {
  position: relative;
  top: -7rem;
  transition: transform 1.8s $cubic-bezier;
  &.up {
    transform: translateY(-25rem);
  }
  .concepts-container {
    @mixin container;
  }
  header {
    transition: opacity 1.8s $cubic-bezier;
    opacity: 0;
    .up + & {
      opacity: 1;
    }
    h2 {
      margin: .3em 0;
    }
    p {
      font-size: 1.2em;
      font-weight: normal;
      color: #777;
    }
    .theme-btn-container {
      display: flex;
      align-items: center;
      margin-top: 1.2em;
      color: #b7205c;
      font-size: .9em;
      font-weight: bold;
      button {
        position: relative;
        width: 2.5em;
        height: 2.5em;
        border: none;
        border-radius: 50%;
        padding: 0;
        margin-right: .3em;
        background-color: transparent;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .concepts-list {
    margin-top: 3.5em;
    margin-left: -120px;
    white-space: nowrap;
    overflow: hidden;
    .concepts-item {
      display: inline-block;
      width: 240px;
      height: 320px;
      background-color: red;
      border-radius: 8px;
      margin-right: 2.6em;
    }
  }
}

.concepts-title {
  font-size: 2em;
  font-weight: bold;
}

.full-svg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#theme-btn-circle {
  r: 1.25em;
  fill: black;
  opacity: 0;
  transition: r 2s $cubic-bezier, transform 1.8s $cubic-bezier, opacity 1.8s $cubic-bezier;
  &.up {
    opacity: 1;
    transform: translateY(-25rem);
  }
  &.theme-btn-expand {
    r: 150vmax;
  }
}

#theme-btn-dark {
  r: 1.25em;
  fill: #1a1a1a;
  opacity: 0;
  transition: transform 1.8s $cubic-bezier, opacity 1.5s $cubic-bezier;
  &.up {
    transform: translateY(-25rem);
    &.theme-btn-dark-expand {
      opacity: 1;
    }
  }
}

#theme-btn-moon-inner {
  transition: transform 1.8s $cubic-bezier, opacity 1.8s $cubic-bezier;
  opacity: 0;
  &.up {
    opacity: 1;
    transform: translateY(-25rem);
  }
}

text.site-title {
  fill: #ddd;
  font-weight: bold;
  dominant-baseline: central;
  transform: translateY(50%);
}

text.nav-concepts, text.nav-about, text.nav-products, text.nav-contact {
  font-size: .9em;
  fill: #bbb;
  dominant-baseline: central;
  transform: translate(2.5em, 50%);
}

text.concepts-title {
  font-size: 2em;
  font-weight: bold;
  fill: #ddd;
  dominant-baseline: text-before-edge;
  opacity: 0;
  transition: transform 1.8s $cubic-bezier, opacity 1.8s $cubic-bezier;
  &.up {
    opacity: 1;
    transform: translateY(-25rem);
  }
}

.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2em 0;
  color: #555;
  @mixin container;
  > * {
    margin: .5em 0;
  }
  a {
    color: #333;
  }
}