$breakpoint: 960px;
$nav-height: 3em;

@define-mixin container {
  max-width: $breakpoint;
  margin: 0 auto;
  @media (max-width: $breakpoint) {
    padding: 0 8px;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

body {
  overflow: overlay;  
}

a {
  text-decoration: none;
}

.page-header {
  border-bottom: 1px solid #eee;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @mixin container;
  > * {
    height: $nav-height;
  }
  h1 {
    margin: 0;
    font-size: 1.1em;
    a {
      display: flex;
      align-items: center;
      color: black;
      height: $nav-height;
    }
  }
  .right-nav {
    display: flex;
    a {
      display: flex;
      align-items: center;
      padding: 0 2.5em;
      color: #555;
      font-size: .9em;
    }
  }
}

.footer {
  @mixin container;
}